body {
  background-image: var(--background);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  color: var(---text-color);
  font-family: "Inter", sans-serif;
}

:root {
  --text-color: white;
  --background: url(./assets/mybg-mobile.png);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);

  --surface-hover-color: rgba(255, 255, 255, 0.05);

  --highlight-color: rgba(255, 255, 255, 0.2);

  --switch-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --background: url(./assets/mybg-mobile-light.png);
  --stroke-color: rgba(0, 0, 0, 0.5);

  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-hover-color: rgba(0, 0, 0, 0.02);

  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-url: url(./assets/sun.svg);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: auto;
  padding-top: 56px;
  padding: 0 24px;
}

#profile {
  padding: 24px;
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*sem ul li, por que não precisa dele? O jeito que eu tava fazendo o hover parecia ser um elemento sem conexão com o botão existente, criava um novo botão com dimensões diferentes.*/

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center; /*troquei justify-items por justify-content*/
  padding: 16px 24px;

  background: var(--surface-color);
  border-radius: 8px;
  border: 1px solid var(--stroke-color);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-hover-color);
}

#icons {
  display: flex;
  justify-content: center;
  padding: 24px 0; /*coloquei 32px antes*/
  font-size: 24px;
}

#icons a {
  display: flex;
  padding: 16px;
  justify-content: center;
  transition: background(0.2s);
  border-radius: 50%;
  padding: 16px;
}

#icons a:hover {
  background: var(--highlight-color);
}

footer {
  font-size: 14px;
  padding: 24px 0;
  text-align: center;
}

#switch {
  width: 64px;
  position: relative;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;

  z-index: 1;
  left: 0;

  /*ALINHAR O ÍCONE DO SOL/LUA*/
  top: 50%;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  /* right: 0;
  left: initial; APAGAR */
  animation: slide-in 0.2s forwards;
}

@media (min-width: 700px) {
  :root {
    --background: var(./assets/mybg-desktop.png);
  }

  .light {
    --background: var(./assets/mybg-desktop-light.png);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}
