body {
  background: url(./assets/mybg-desktop.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  color: white;
  font-family: "Inter", sans-serif;
}

#container {
  width: 588px;
}

footer {
  font-size: 14px;
  padding: 24px 0;
  text-align: center;
}

#profile {
  width: 588px;
  padding: 24px;
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
}

ul {
  padding: 24px 16px;
  font-weight: 500;
  font-size: 16px;
}

ul li {
  border: 1px solid rgb(255, 255, 255, 0.5);
  padding: 16px 24px;
  border-radius: 8px;
  list-style: none;
  text-align: center;
  margin-top: 16px;
  font-size: 18px;
}

ul li a {
  margin-top: 16px;
  margin-bottom: 24px;
}

#icons {
  width: 588px;
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

#icons a {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
